@import "common.less";

@g_margin: 0.1;
@g_col1: 0.4;
@g_col2: 1;
@g_col3: 0.4;
@g_col4: 1;
@g_margin_fr: "@{g_margin}fr";
@g_col1_fr: "@{g_col1}fr";
@g_col2_fr: "@{g_col2}fr";
@g_col3_fr: "@{g_col3}fr";
@g_col4_fr: "@{g_col4}fr";

.test_table_row
{
  display: grid;
  grid-template-columns: e("@{g_margin_fr} @{g_col1_fr} @{g_col2_fr} @{g_col3_fr} @{g_col4_fr} @{g_margin_fr}");
  border-top: thin solid white;
  border-bottom: thin solid white;
}
.test_table_row.selectable
{
  cursor: pointer;
}
.test_table_row.selectable:hover
{
  border-top: thin solid @hover;
  border-bottom: thin solid @hover;
}
.test_table_row.selected
{
  border-top: thin solid @selected;
  border-bottom: thin solid @selected;
}
.test_table_row .cell
{
  border-top: thin solid #EEE;
  padding: 2px;
}

.option {
  padding: 20px;
  border: thin solid #ddd;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}
.option.selected {
  border: thin solid @selected;
  color: @dark_blue;
}
.option:hover {
  border: thin solid @hover;
  color: @dark_blue;
}
.option:active {
  border: thin solid @orange;
}

.option .title {
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
}

@subtitle_grey: #777;
.option .subtitle {
  margin: 0px;
  margin-top: 2px;
  text-align: center;
  color: @subtitle_grey;
}

.section
{
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section .subtitle {
  color: @subtitle_grey;
}
